body{
 font-family: sans-serif;
}


p {
	display:inline;
}

/*
button.next {
	background-color:#C0C0C0;
	color:#000080;
	float:right;
	width:10%;
	height:25px;
	padding:5px;
	font-size:15px;
}
*/

button.next {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:.5em;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-left: 1em;
    float: right
}
button.next:hover {
	background-color:#5cbf2a;
}
button.next:active {
	position:relative;
	top:1px;
}


/*
button.previous {
	background-color:#C0C0C0;
	color:#000080;
	float:right;
	width:15%;
	height:25px;
	padding:5px;
	font-size:15px;
}
*/

button.previous {
	background-color:#c03a2b;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #c03a2b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:.5em ;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    float: right;
}
button.previous:hover {
	background-color:#e74d3c;
}
button.previous:active {
	position:relative;
	top:1px;
}


#title {
    padding-left: 1em;
    padding-top:.5em;
    padding-bottom: .5em;
    margin-bottom: .5em;
	width:98%;
	height:;
	float:left;
	background-color:#2980b9;
	color:white;
    font-size: 1.4em;
}

#templatecode {
	width:80%;
	height:10%;
}

#instructions {
	width:37%;
	height:85%;
	float:left;
	background-color:#3498db;
    margin-right: .5em;
}

#instructionpic {
    border-style: solid;
    border-width: 2px;
    border-color:black;
}
#instructionpic1 {
    width:50%;
    float:left;
}

#editor {
	width:60%;
	height:80%;
	float:left;
}

.dir {
	background-color:#ADD8E6;
	padding:12px;
	height:95%;
	color:#505050;
    font-size:14.5px;
}

p.step {
	font-size:20px;
}

#js {
	width:100%;
	height:105%;
}

#Snake {
	width:100%;
	height:100%;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  position:relative;
  z-index:2;
  display: block;
    padding-top: 3em;
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

.card:after {
  position:absolute;
  font-size:.7rem;
  top:.5rem;
  right:1rem;
  content:"do this";
  border:thin solid gray;
  color:gray;
  width:2rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}